
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Carousel{
    <div class="slider movie-items">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
}
<h2>Thanh toán thành công</h2>